@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef !important;
  padding: 40px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* :root {
  --clr-primary: #2680c0;
  --clr-primary-dark: hsl(205, 100%, 21%);
  --clr-primary-light: hsl(205, 84%, 74%);
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
} */
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* STYLING */
.container {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
    color: #a2a2a2;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}
.darkmode .container {
    background-color: #1A1B1F;
    color: #8a8a8a;
}
.tabs-container { 
    width: 540px;
    max-width: 620px; 
    min-width: 420px;
    margin: auto;
}

/* Style the tabs */
.tabs {
    margin-bottom: 28px; 
    display: flex;
      justify-content: space-between;
}

.tabs a {
    cursor: pointer;
    padding: 12px 24px;
    width: 120px;
    text-align: center;
    font-weight: bold;
    border-radius: 18px;
    transition: background 0.1s, color 0.1s;
    background: linear-gradient(145deg, #ffffff, #dcdcdc);
    box-shadow:  3px 3px 5px #bebebe, 
                 -3px -3px 5px #ffffff;
}
.darkmode .tabs a {
    background: linear-gradient(145deg, #1c1d21, #17181c);
    box-shadow:  3px 3px 6px #101114, 
                 -3px -3px 6px #24252a;
}

/* Change background color of tabs on hover */
.tabs a:hover {
    background: linear-gradient(145deg, #f4f4f4, #cecece);
    color: #888;
}
.darkmode .tabs a:hover {
    background: #141414;
    color: #bbb;
}

/* Styling for active tab */
.tabs a.active {
    background-color: #1A1B1F;
    color: #bdbdbd;
    cursor: default;
    padding: 14px 22px 10px 26px;
    background: #f4f4f4;
    box-shadow: inset 3px 3px 5px #cbcbcb, 
                inset -3px -3px 5px #ffffff;
}
.darkmode .tabs a.active {
    background: #1A1B1F;
    box-shadow: inset  3px 3px 6px #101114, 
                inset -3px -3px 6px #24252a; 
    color: #6a6a6a;
}


/* Style the tab content */
.tabcontent {
    padding: 46px;
    min-height: 288px;
    display: none;    
    border-radius: 18px;
    background: #f4f4f4;
    box-shadow:  3px 3px 6px #bebebe, 
                 -3px -3px 6px #ffffff;
}
.darkmode .tabcontent {
    background: linear-gradient(145deg, #1c1d21, #17181c);
    box-shadow:  3px 3px 6px #101114, 
                 -3px -3px 6px #24252a;
}
.content .active {
    display: block;
}
.tabcontent p {
    margin-bottom: 12px;
}
.tabcontent p:last-child {
    margin-bottom: 0;
}
.tabcontent .read-more-link a {
    color: #626262;
    text-decoration: none;
    font-size: 0.85em;
    font-weight: bold;
}
.darkmode .tabcontent .read-more-link a {
    color: #d4d4d4;
}
.icon {
    padding-left: 8px;
    font-size: 16px;
}

/* THE DARKMODE SWITCH */ 
.dark-mode-switch {
    position: absolute;
    top: 16px;
    right: 16px;
}
.dark-mode-switch .switch {
/*     margin-left: 4px; */
}
.switch-label {
    cursor: pointer;
    font-size: 0.85em;
}
/* the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 22px;
    margin-left: 4px;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1A1B1F;
    transition: .2s;
    box-shadow:  2px 2px 3px #ffffff, 
                 -2px -2px 3px #bebebe;
}
.darkmode .slider {
    box-shadow:  2px 2px 3px #34353a, 
                 -2px -2px 3px #000104;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 2px;
    background: #9294b8;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #f4f4f4;
}
input:checked + .slider:before {
    transform: translateX(21px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 11px;
}
.slider.round:before {
    border-radius: 50%;
}



/*==============================*/
.small-screen {
    display: none;
    background-color: #f4f4f4;
    height: 100vh;
    color: #a2a2a2;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}
.darkmode .small-screen {
    background-color: #1A1B1F; 
    color: #8a8a8a;
}
.small-screen-content {
    width: 70%;
    margin: auto;
}
@media only screen and (max-width: 600px) {
    .container {
        display: none;
    }
    .small-screen {
        display: flex;
    }
    .tabcontent {
        display: block;
    }
}
/* a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.btn {
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary);
  background: var(--clr-primary-light);
} */

/*
=============== 
Navbar
===============
*/
/* .loading {
  text-align: center;
  margin-top: 5rem;
}
nav {
  background: var(--clr-primary);
  padding: 1.25rem 2rem;
}
.nav-center {
  max-width: var(--fixed-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h3 {
  margin-bottom: 0;
  color: var(--clr-white);
}
.nav-container {
  display: block;
  position: relative;
}
nav svg {
  width: 2rem;
  fill: var(--clr-white);
}
.amount-container {
  position: absolute;
  top: -0.85rem;
  right: -0.85rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: var(--clr-primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-amount {
  color: var(--clr-white);
  margin-bottom: 0;
  font-size: 1.25rem;
} */
/*
=============== 
Cart
===============
*/
/* .cart {
  min-height: calc(100vh - 120px);
  width: 90vw;
  margin: 0 auto;
  margin-top: 40px;
  padding: 2.5rem 0;
  max-width: var(--fixed-width);
}
.cart h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}
.empty-cart {
  text-transform: lowercase;
  color: var(--clr-grey-5);
  margin-top: 1rem;
  text-align: center;
}
.cart footer {
  margin-top: 4rem;
  text-align: center;
}
.cart-total h4 {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.clear-btn {
  background: transparent;
  padding: 0.5rem 1rem;
  color: var(--clr-red-dark);
  border: 1px solid var(--clr-red-dark);
  margin-top: 2.25rem;
  border-radius: var(--radius);
}
.clear-btn:hover {
  background: var(--clr-red-light);
  color: var(--clr-red-dark);
  border-color: var(--clr-red-light);
} */
/*
=============== 
Cart Item
===============
*/
/* .cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}
.cart-item h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.item-price {
  color: var(--clr-grey-5);
}
.remove-btn {
  color: var(--clr-primary);
  letter-spacing: var(--spacing);
  cursor: pointer;
  font-size: 0.85rem;
  background: transparent;
  border: none;
  margin-top: 0.375rem;
  transition: var(--transition);
}
.remove-btn:hover {
  color: var(--clr-primary-light);
}
.amount-btn {
  width: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
.amount-btn svg {
  fill: var(--clr-primary);
}
.amount-btn:hover svg {
  fill: var(--clr-primary-light);
}
.amount {
  text-align: center;
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1;
}
hr {
  background: var(--clr-grey-5);
  border-color: transparent;
  border-width: 0.25px;
} */